<!-- Footer -->
<div class="fixed-bottom">
<footer class="page-footer font-small bg-light pt-4 fixed">

    <!-- Footer Elements -->
    <div class="container">

      <!-- Call to action -->
      <ul class="list-unstyled list-inline text-center py-2">
        <li class="list-inline-item">
          <h5 class="mb-1">Register for free</h5>
        </li>
        <li class="list-inline-item">
          <a class="btn btn-outline-white btn-rounded">Sign up!</a>
        </li>
      </ul>
      <!-- Call to action -->

    </div>
    <!-- Footer Elements -->

    <!-- Copyright -->
    <div class="footer-copyright text-center py-3">© 2018 Copyright:
      <a href="https://thesigma.gq"> Hasee Amarathunga</a>
    </div>
    <!-- Copyright -->

  </footer>
  <!-- Footer -->
</div>
